@charset "utf-8";

/* 全体に共通する部分 ------------------------------------  */

.row_input{
    display: flex;
    width: 100%;
    margin-bottom: 20px;
}

.row_input *{
    margin: 0;
}

.row_input .label{
    width: 30%;
    text-align: left;
}

.row_input .value{
    width: 70%;
    text-align: left;
}

.row_input .values{
    width: 70%;
    display: flex;
    justify-content: space-between;
}

.row_input .values * {
    width: 48%;
}

.row_input .values input[type="radio"]{
    width: 13px;
    margin-right: 5px;
}

.row_confirm{
    display: flex;
    width: 100%;
    margin-bottom: 22px;
    border-bottom: 1px black solid;
}

.row_confirm *{
    margin: 0;
}

.row_confirm .label{
    width: 50%;
    text-align: left;
}

.row_confirm .value{
    width: 50%;
    text-align: left;
}

.row_block{
    margin: 15px 0;
    width: 100%;
    display: flex;
    background-color: #fafafa;
    padding: 10px;
    border-radius: 5px;
}

.row_block *{
    margin: 0;
}

.row_block .label{
    width: 25%;
    text-align: left;
}

.row_block .value{
    width: 75%;
    text-align: left;
    word-wrap: break-word;
}

.col_input{
    width: 100%;
    margin-bottom: 10px;
    text-align: left;
}

.col_input *{
    margin: 0;
}

/* .col_input .label{
    text-align: left;
} */

.col_input .value{
    width: 100%;
}

.col_block{
    margin-bottom: 10px;
    width: 100%;
    text-align: left;
}

.col_block *{
    margin: 0;
}

/* .col_block .label{
    width: 100%;
} */

.col_block .value{
    text-align: left;
    word-wrap: break-word;
    background-color: #fafafa;
    padding: 10px;
    border-radius: 5px;
}

/* BootStrap を上書きするために .main で指定している */
.main .box{ 
    width: 100%;
    margin: 0 0 10px 0;
    display: block;
    padding: 0;
}

/* BootStrap を上書きするために .main で指定している */
.main .box_content{
    display: flex;
    justify-content: space-around;
    height: 100%;
    padding: 20px;
    text-decoration: none;
    color: black;
}

.main .box_content_forum{
    display: block;
    justify-content: center;
    height: 100%;
    padding: 20px;
    text-decoration: none;
}

.main .box_content_forum .sub{
    display: flex;
    justify-content: flex-start;
    width: 100%;
}

.main .box_content_forum .sub p{
    font-size: xx-small;
    color: cornflowerblue;
    text-align: left;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    margin-right: 18px;
    margin-bottom: 0;
}

.main .box_content_forum .sub .last_update{
    width: 20%;
}

.main .box_content_forum .sub .comment_num{
    width: 10%;
}

.main .box_content_forum .sub .author{
    width: 13%;
}

.main .box_content_forum .sub .last_contributer{
    width: 16%;
}

.main .box_content_forum .main{
    margin: 4px auto 0 0;
    font-size: large;
    color: black;
    width: max-content;
}

.text_overflow{
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.return_btn a{
    display: block;
    position: absolute;
    top: 106px;
}

.return_btn img{
    width: 30px;
}

.logo_header{
    height: 40px;
}

/* ログイン系の画面に共通する部分 -------------------------- */

.login{
    background: #f0f0f0;
    height: 100vh;
}

.login .content_area{
    background: white;
    width: 500px;
    height: 100%;
    margin: auto;
    text-align: center;
}

.login .content{
    width: 60%;
    margin: auto;
}

.login .logo{
    height: 80px;
    margin: 30px 0;
}

.login .title{
    margin-bottom: 20px;
    font-size: x-large;
    font-weight: 450;
}

.login .btn_wide{
    width: 100%;
}

.login .link_area{
    width: 100%;
    display: flex;
    justify-content: space-around;
}

/* メイン画面に共通する部分 -------------------------------- */

.main{
    width: 1130px; /* 戻るボタンの位置を調整 */
    margin: auto;
}

.main .content_area{
    width: 800px;
    margin: auto;
    padding-top: 66px;
    padding-bottom: 50px;
    text-align: center;
}

.main .title{
    text-align: left;
    border-bottom: 1px solid black;
    font-size: x-large;
    font-weight: 450;
    margin: 40px 0;
}

.main .title_sub{
    font-size: large;
    text-align: left;
}

.main .message{
    font-size: large;
    margin: 30px 0;
}

.main .btn_area{
    width: 100%;
    margin-top: 40px;
}

.main .btn_area .btn{
    margin: 10px;
    min-width: 120px;
}

.main .content_50{
    width: 50%;
    margin: auto;
}

.main .content_60{
    width: 60%;
    margin: auto;
}

.main .content_done{
    margin-top: 120px;
}

.main .type_wide .content{
    width: 80%;
    margin: auto;
}

/* 画面ごと ----------------------------------------------- */

#u_login .title{
    margin-bottom: 70px;
}

#u_login .btn_wide{
    margin: 20px 0;
}

#u_login .link_area{
    margin-top: 50px;
}

#u_signup_1 .title{
    margin-bottom: 30px;
}

#u_signup_1 .btn_wide{
    margin-top: 10px;
}

#u_signup_1 .link_area{
    margin-top: 40px;
}

#u_signup_2 .title{
    margin-bottom: 30px;
}

#u_signup_2 .btn_wide{
    margin-top: 10px;
}

#u_signup_2 .link_area{
    margin-top: 40px;
}

#u_signup_3 .content{
    margin-top: 90px;
}

#u_signup_3 .content p{
    font-size: x-large;
    margin-bottom: 30px;
}

#a_login .title{
    margin-bottom: 70px;
}

#a_login .btn_wide{
    margin: 20px 0;
}

#a_login .link_area{
    margin-top: 50px;
}

#a_user_account_1 .search_area{
    background-color: #ececec;
    border-radius: 5px;
    padding: 20px;
    text-align: center;
    margin-bottom: 30px;
}

#a_user_account_1 .search_main{
    margin-bottom: 20px;
}

#a_user_account_1 .btn_option{
    margin-left: 20px;
}

#a_user_account_1 .search_sub{
    display: flex;
    justify-content: center;
}

#a_user_account_1 .search_sub div{
    text-align: left;
    width: 300px;
    margin-right: 20px;
}

#a_user_account_1 .search_sub .row_input{
    margin-bottom: 5px;
}

#a_user_account_1 .btn_search_sub{
    height: 40px;
    margin: auto 0 5px 0;
}

#a_user_account_1 .name{
    width: 120px;
}

#a_user_account_1 .dep{
    width: 150px;
}

#a_account_1 .content_area{
    padding-bottom: 0;
}

#a_account_1 .title{
    margin-bottom: 30px;
}

#a_account_1 .btn_area{
    margin-top: 20px;
}

#a_account_2 .content_area{
    padding-bottom: 0;
}

#a_account_2 .title{
    margin-bottom: 30px;
}

#a_account_2 .btn_area{
    margin-top: 20px;
}

#a_signup_1 .content_area{
    padding-bottom: 0;
}

#a_signup_1 .title{
    margin-bottom: 30px;
}

#a_signup_1 .btn_area{
    margin-top: 20px;
}

#a_signup_2 .content_area{
    padding-bottom: 0;
}

#a_signup_2 .title{
    margin-bottom: 30px;
}

#a_signup_2 .btn_area{
    margin-top: 20px;
}

#u_practice_home .search{
    margin-bottom: 20px;
}

#u_practice_home .search > *{
    height: 30px;
}

#u_practice_home .explanation{
    text-align: left;
    width: 500px;
    margin: auto;
    background-color: #f8f9fa;
    border-radius: 10px;
    padding: 20px;
    color: rgb(97, 97, 97);
}

#u_practice_home .teacher{
    width: 15%;
}

#u_practice_home .comment{
    width: 50%;
    text-align: left;
}

#u_practice_home .carrying_out{
    width: 10%;
}

#a_practice_home .explanation{
    width: 500px;
    margin: auto;
    background-color: #f8f9fa;
    border-radius: 10px;
    padding: 20px;
    color: rgb(97, 97, 97);
}

#a_practice_home .comment{
    width: 50%;
    text-align: left;
}

#a_practice_home .num{
    width: 15%;
}

#u_check_home .explanation{
    width: 500px;
    margin: 30px auto;
    background-color: #f8f9fa;
    border-radius: 10px;
    padding: 20px;
    color: rgb(97, 97, 97);
}

#u_check_home .title_sub{
    margin: 20px 0 5px 0;
}

#u_check_home .check_title{
    width: 40%;
    /* text-align: left; */
}

#u_check_home .teacher{
    width: 15%;
}

#u_check_home .flg{
    width: 20%;
}

#a_check_home .check_title{
    width: 40%;
    /* text-align: left; */
}

#a_check_home .explanation{
    width: 500px;
    margin: auto;
    background-color: #f8f9fa;
    border-radius: 10px;
    padding: 20px;
    color: rgb(97, 97, 97);
}

#a_check_home .teacher{
    width: 15%;
}

#a_check_home .flg{
    width: 20%;
}

#a_check_home .title_sub{
    margin: 20px 0 5px 0;
}

#u_forum .btn_area{
    margin: 40px 0;
}

#u_forum form{
    margin-bottom: 10px;
}

#u_forum .explanation{
    width: 500px;
    margin: auto;
    background-color: #f8f9fa;
    border-radius: 10px;
    padding: 20px;
    color: rgb(97, 97, 97);
}

#u_forum .search_result_none{
    margin-top: 40px;
}

#a_forum .btn_area{
    margin: 40px 0;
}

#a_forum form{
    margin-bottom: 10px;
}

#a_forum .explanation{
    width: 500px;
    margin: auto;
    background-color: #f8f9fa;
    border-radius: 10px;
    padding: 20px;
    color: rgb(97, 97, 97);
}

#a_forum .search_result_none{
    margin-top: 40px;
}

/* -------------------------------------------------------- */