@charset "utf-8";

/* 全体に共通する部分 ------------------------------------  */

.row_input{
    display: flex;
    width: 100%;
    margin-bottom: 20px;
}

.row_input *{
    margin: 0;
}

.row_input .label{
    width: 30%;
    text-align: left;
}

.row_input .value{
    width: 70%;
    text-align: left;
}

.row_input .values{
    width: 70%;
    display: flex;
    justify-content: space-between;
}

.row_input .values * {
    width: 48%;
}

.row_input .values input[type="radio"]{
    width: 13px;
    margin-right: 5px;
}

.row_confirm{
    display: flex;
    width: 100%;
    margin-bottom: 22px;
    border-bottom: 1px black solid;
}

.row_confirm *{
    margin: 0;
}

.row_confirm .label{
    width: 50%;
    text-align: left;
}

.row_confirm .value{
    width: 50%;
    text-align: left;
}

.row_block{
    margin: 15px 0;
    width: 100%;
    display: flex;
    background-color: #fafafa;
    padding: 10px;
    border-radius: 5px;
}

.row_block *{
    margin: 0;
}

.row_block .label{
    width: 30%;
    text-align: left;
}

.row_block .value{
    width: 70%;
    text-align: left;
    word-wrap: break-word;
}

.col_input{
    width: 100%;
    margin-bottom: 10px;
    text-align: left;
}

.col_input *{
    margin: 0;
}

/* .col_input .label{
    text-align: left;
} */

.col_input .value{
    width: 100%;
}

.col_block{
    margin-bottom: 10px;
    width: 100%;
    text-align: left;
}

.col_block *{
    margin: 0;
}

/* .col_block .label{
    width: 100%;
} */

.col_block .value{
    text-align: left;
    word-wrap: break-word;
    background-color: #fafafa;
    padding: 10px;
    border-radius: 5px;
}

.scroll{
    padding-right: 8px;
}

.scroll::-webkit-scrollbar {
    width: 8px;
}

.scroll::-webkit-scrollbar-track {
    border-radius: 10px;
	background: #f2f2f2;
}

.scroll::-webkit-scrollbar-thumb {
    border-radius: 10px;
	background:#b8b8b8;
}

/* BootStrap を上書きするために .main で指定している */
.main .box{ 
    width: 100%;
    margin: 0 0 10px 0;
    display: block;
    padding: 0;
}

/* BootStrap を上書きするために .main で指定している */
.main .box_content{
    display: flex;
    justify-content: space-around;
    height: 100%;
    padding: 20px;
    text-decoration: none;
    color: black;
}

.main .box_content_forum{
    display: block;
    justify-content: center;
    height: 100%;
    padding: 20px;
    text-decoration: none;
}

.main .box_content_forum .sub{
    display: flex;
    justify-content: flex-start;
    width: 100%;
}

.main .box_content_forum .sub p{
    font-size: xx-small;
    color: cornflowerblue;
    text-align: left;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    margin-right: 18px;
    margin-bottom: 0;
}

.main .box_content_forum .sub .last_update{
    width: 150px;
}

.main .box_content_forum .sub .comment_num{
    width: 75px;
}

.main .box_content_forum .sub .author{
    width: 100px;
}

.main .box_content_forum .sub .last_contributer{
    width: 200px;
}

.main .box_content_forum .main{
    margin: 4px auto 0 0;
    font-size: large;
    color: black;
    width: max-content;
}

.text_overflow{
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.return_btn a{
    display: block;
    position: absolute;
    top: 106px;
}

.return_btn img{
    width: 30px;
}

.logo_header{
    height: 40px;
}

@import url("https://fonts.googleapis.com/css2?family=Share+Tech+Mono&display=swap");

.clock_container {
    width: 10%;
    height: 10%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-left: auto;
    padding-top:0px;
}

.clock {
    font-family: 'Share Tech Mono', monospace;
    color: #daf6ff;
    /* text-shadow: 0 0 5px #0aafe6; */
    line-height: 1.2;
    text-align: center;
    margin-top: 5px;
    margin-right: 10px;
}

.clock-date {
    font-size: 10px;
    font-weight: bold;
    margin-bottom: 3px;
}

.clock-time {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 5px;
}

.navbar-dark .navbar-toggler{
    border: none;
    outline: none;
}

.navbar-dark .navbar-toggler:focus{
    box-shadow: none;
    border: none;
    outline: none;
}



/* ログイン系の画面に共通する部分 -------------------------- */

.login{
    background: #f0f0f0;
    height: 100vh;
}

.login .content_area{
    background: white;
    width: 500px;
    height: 100%;
    margin: auto;
    text-align: center;
}

.login .content{
    width: 60%;
    margin: auto;
}

.login .logo{
    height: 80px;
    margin: 30px 0;
}

.login .title{
    margin-bottom: 20px;
    font-size: x-large;
    font-weight: 450;
}

.login .btn_wide{
    width: 100%;
}

.login .link_area{
    width: 100%;
    display: flex;
    justify-content: space-around;
}

/* メイン画面に共通する部分 -------------------------------- */

.main{
    width: 1130px; /* 戻るボタンの位置を調整 */
    margin: auto;
}

.main .content_area{
    width: 800px;
    margin: auto;
    padding-top: 66px;
    padding-bottom: 50px;
    text-align: center;
}

.main .title{
    text-align: left;
    border-bottom: 1px solid black;
    font-size: x-large;
    font-weight: 450;
    margin: 40px 0;
}

.main .title_center{
    font-size: x-large;
    font-weight: 450;
    margin-top: 40px;
    /* text-align: left; */
}

.main .title_sub{
    margin: 30px 0 10px 0;
    text-align: left;
}

.main .message{
    font-size: large;
    margin: 30px 0;
}

.main .btn_area{
    width: 100%;
    margin-top: 40px;
}

.main .btn_area .btn{
    margin: 10px;
    min-width: 120px;
}

.main .content_50{
    width: 50%;
    margin: auto;
}

.main .content_60{
    width: 60%;
    margin: auto;
}

.main .content_80{
    width: 80%;
    margin: auto;
}

.main .content_done{
    margin-top: 120px;
}

.main .type_wide .content{
    width: 80%;
    margin: auto;
}

/* 画面ごと ----------------------------------------------- */

#u_login .title{
    margin-bottom: 70px;
}

#u_login .btn_wide{
    margin: 20px 0;
}

#u_login .link_area{
    margin-top: 50px;
}

#u_signup_1 .title{
    margin-bottom: 30px;
}

#u_signup_1 .btn_wide{
    margin-top: 10px;
}

#u_signup_1 .link_area{
    margin-top: 40px;
}

#u_signup_2 .title{
    margin-bottom: 30px;
}

#u_signup_2 .btn_wide{
    margin-top: 10px;
}

#u_signup_2 .link_area{
    margin-top: 40px;
}

#u_signup_3 .content{
    margin-top: 90px;
}

#u_signup_3 .content p{
    font-size: x-large;
    margin-bottom: 30px;
}

#a_login .title{
    margin-bottom: 70px;
}

#a_login .btn_wide{
    margin: 20px 0;
}

#a_login .link_area{
    margin-top: 50px;
}

#a_user_account_1 .search_area{
    background-color: #ececec;
    border-radius: 5px;
    padding: 20px;
    text-align: center;
    margin-bottom: 30px;
}

#a_user_account_1 .search_main{
    margin-bottom: 20px;
}

#a_user_account_1 .btn_option{
    margin-left: 20px;
}

#a_user_account_1 .search_sub{
    display: flex;
    justify-content: center;
}

#a_user_account_1 .search_sub div{
    text-align: left;
    width: 300px;
    margin-right: 20px;
}

#a_user_account_1 .search_sub .row_input{
    margin-bottom: 5px;
}

#a_user_account_1 .btn_search_sub{
    height: 40px;
    margin: auto 0 5px 0;
}

#a_user_account_1 .name{
    width: 120px;
}

#a_user_account_1 .dep{
    width: 150px;
}

#a_account_1 .row_input .label{
    width: 35%;
}

#a_account_1 .row_input .value{
    width: 65%;
}

#a_account_1 .row_input .values{
    width: 65%;
}

#a_account_1 .explanation{
    text-align: left;
    width: 500px;
    margin: 30px auto;
    background-color: #f8f9fa;
    border-radius: 10px;
    padding: 20px;
    color: rgb(97, 97, 97);
}

#a_account_2 .content_area{
    padding-bottom: 0;
}

#a_account_2 .title{
    margin-bottom: 30px;
}

#a_account_2 .btn_area{
    margin-top: 20px;
}

#a_signup_1 .row_input .label{
    width: 35%;
}

#a_signup_1 .row_input .value{
    width: 65%;
}

#a_signup_1 .row_input .values{
    width: 65%;
}

#a_signup_1 .explanation{
    text-align: left;
    width: 500px;
    margin: 30px auto;
    background-color: #f8f9fa;
    border-radius: 10px;
    padding: 20px;
    color: rgb(97, 97, 97);
}

#a_signup_2 .content_area{
    padding-bottom: 0;
}

#a_signup_2 .title{
    margin-bottom: 30px;
}

#a_signup_2 .btn_area{
    margin-top: 20px;
}

#u_practice_home .search{
    margin-bottom: 20px;
}

#u_practice_home .search > *{
    height: 30px;
}

#u_practice_home .explanation{
    text-align: left;
    width: 500px;
    margin: auto;
    background-color: #f8f9fa;
    border-radius: 10px;
    padding: 20px;
    color: rgb(97, 97, 97);
}

#u_practice_home .teacher{
    width: 15%;
}

#u_practice_home .comment{
    width: 50%;
    text-align: left;
}

#u_practice_home .carrying_out{
    width: 10%;
}

#a_practice_home .explanation{
    width: 500px;
    margin: auto;
    background-color: #f8f9fa;
    border-radius: 10px;
    padding: 20px;
    color: rgb(97, 97, 97);
}

#a_practice_home .comment{
    width: 50%;
    text-align: left;
}

#a_practice_home .num{
    width: 15%;
}

#u_check_home .explanation{
    width: 500px;
    margin: 30px auto;
    background-color: #f8f9fa;
    border-radius: 10px;
    padding: 20px;
    color: rgb(97, 97, 97);
}

#u_check_home .check_title{
    width: 40%;
    /* text-align: left; */
}

#u_check_home .teacher{
    width: 15%;
}

#u_check_home .flg{
    width: 20%;
}

#a_check_home .check_title{
    width: 40%;
    /* text-align: left; */
}

#a_check_home .explanation{
    width: 500px;
    margin: auto;
    background-color: #f8f9fa;
    border-radius: 10px;
    padding: 20px;
    color: rgb(97, 97, 97);
}

#a_check_home .teacher{
    width: 15%;
}

#a_check_home .flg{
    width: 20%;
}

#u_forum .btn_area{
    margin: 40px 0;
}

#u_forum form{
    margin-bottom: 10px;
}

#u_forum .explanation{
    width: 500px;
    margin: auto;
    background-color: #f8f9fa;
    border-radius: 10px;
    padding: 20px;
    color: rgb(97, 97, 97);
}

#u_forum .search_result_none{
    margin-top: 40px;
}

#a_forum .box{
    display: flex;
    justify-content: space-between;
}

#a_forum .box_content_forum{
    width: 80%;
}

#a_forum .box form{
    margin: 0;
    width: 20%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#a_forum .btn_area{
    margin: 40px 0;
}

#a_forum form{
    margin-bottom: 10px;
}

#a_forum .explanation{
    width: 500px;
    margin: auto;
    background-color: #f8f9fa;
    border-radius: 10px;
    padding: 20px;
    color: rgb(97, 97, 97);
}

#a_forum .search_result_none{
    margin-top: 40px;
}

#forum_brows .thread_title{
    text-align: left;
    color: orange;
    margin: 30px 0;
    font-size: x-large;
}

#forum_brows .comment{
    margin: 0 auto 30px auto;
    text-align: left;
}

#forum_brows .contributer{
    margin-bottom: 2px;
}

#forum_brows .comment .body{
    padding: 10px 20px;
    background: -webkit-repeating-linear-gradient(-45deg, #f0f8ff, #f0f8ff 3px,#e9f4ff 3px, #e9f4ff 7px);
    background: repeating-linear-gradient(-45deg, #f0f8ff, #f0f8ff 3px,#e9f4ff 3px, #e9f4ff 7px);
}

#forum_brows .body p{
    white-space: pre-wrap;
    word-wrap: break-word;
    margin-bottom: 10px;
}

#forum_brows .comment .date_time{
    text-align: right;
    font-size: small;
    color: gray;
}

#forum_brows .reply_area textarea{
    width: 100%;
}

#forum_brows .reply_area .btn_area{
    margin-top: 10px;
}

#u_company .none{
    margin: 30px;
}

#a_company .none{
    margin: 30px;
}

#a_all .dep{
    width: 140px;
}

#a_all .name{
    width: 100px;
}

#a_all .company_num{
    width: 120px;
}

#u_search{
    margin: 0;
    width: 100%;
    height: 100vh;
}

#u_search .content_area{
    width: 100%;
    height: 100%;
    padding-bottom: 0;
    display: flex;
}

#u_search .search_area{
    width: 50%;
    /* padding: 20px 20px 20px 50px; */
    overflow: auto;
    /* margin: 0 auto; */
}

#u_search .search_area .search_content{
    width: 450px;
    margin: 0 auto;
    padding: 20px 20px 20px 60px;
    position: relative;
}

#u_search .return_btn a{
    display: block;
    position: absolute;
    top: 20px;
    left: 0px;
    text-align: left;
}

#u_search .search_area .title{
    margin: 0 0 20px 0;
}

#u_search .search_area form{
    margin-bottom: 20px;
}

#u_search .search_area form *{
    height: 30px;
}

#u_search .search_area .search_results{
    overflow-y: auto;
    height: 380px;
}

#u_search .search_area .scroll .box:last-child{
    margin-bottom: 0;
}

#u_search .search_area .current{
    background-color:#09C9D9;
}

#u_search .search_area .explanation{
    width: 100%;
    background-color: #f8f9fa;
    border-radius: 10px;
    padding: 20px;
    color: rgb(97, 97, 97);
}

#u_search .display_area{
    width: 50%;
    display: flex;
    align-items: center;
}

#u_search .display_area iframe{
    width: 100%;
    height: 100%;
    display: block;
}

#u_search .display_area #explanation{
    /* text-align: left; */
    width: 95%;
    height: 95%;
    margin: auto;
    background-color: #dedede;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgb(97, 97, 97);
}

#u_home .title{
    margin-bottom: 10px;
}

#u_home .btn_area{
    margin: 0;
}

#u_home .btn_area .btn{
    margin: 20px;
}

#u_home .scroll{
    max-height: 218px;
    overflow-y: auto;
}

#u_home .scroll .box:last-child{
    margin-bottom: 0;
}

#u_home .container{
    display: flex;
    justify-content: space-between;
    padding: 0;
}

#u_home .container .content{
    width: 30%;
}

#u_home .explanation{
    text-align: left;
}

#u_home .none{
    margin: 30px;
}

#a_home .title{
    margin-bottom: 10px;
}

#a_home .btn_area{
    margin: 0;
}

#a_home .btn_area .btn{
    margin: 20px;
}

#a_home .scroll{
    max-height: 218px;
    overflow-y: auto;
}

#a_home .scroll .box:last-child{
    margin-bottom: 0;
}

#a_home .scroll .box_small:last-child{
    margin-bottom: 0;
}

#a_home .container{
    display: flex;
    justify-content: space-between;
    padding: 0;
}

#a_home .container .content{
    width: 30%;
}

#a_home .explanation{
    text-align: left;
}

#a_home .none{
    margin: 30px;
}

#a_home .box_small{
    width: 100%;
    display: block;
    text-align: left;
    margin-bottom: 10px;
}

#a_home .box_content_small{
    text-decoration: none;
    color: black;
    text-align: left;
}

#a_home .content .sub{
    color: cornflowerblue;
    font-size: small;
}

#a_home .percent{
    display: flex;
    justify-content: space-between;
}

#a_student .none{
    margin: 50px;
}

#a_student .title{
    margin-bottom: 10px;
}

/* -------------------------------------------------------- */