@charset "utf-8";

.logo{
    height: 80px;
    margin: 40px;
}

.headlogo{
    height: 35px;
}

.return_btn{
    width: 38px;
    position: absolute;
    top: 90px;
    left: 10px;
}

/* ログイン関係の画面に共通するレイアウト */
.login{
    height: 100vh;
    background: #f0f0f0;
    display: flex;
    justify-content: center;
}

.login_content{
    background: white;
    height: 100%;
    width: 500px;
    text-align: center;
}

.login_content .input{
    width: 80%;
    margin: auto;
    text-align: left;
}

.login_content .input input{
    width: 100%;
    border: 1px solid black;
    border-radius: 3px;
}

.login_content .input .id{
    background-image: url(../img/human.png);
    background-size: 27px;
    background-repeat: no-repeat;
    padding-left: 30px;
}

.login_content .input .pw{
    background-image: url(../img/lock.png);
    background-size: 25px;
    background-repeat: no-repeat;
    padding-left: 30px;
}

.login_content .input p{
    margin: 20px 0 0 0;
}

.login form .btn{
    width: 80%;
    height: 50px;
    margin: 40px 0;
    font-size: x-large;
}

.login .links{
    margin: auto;
    margin-top: 40px;
    width: 80%;
    display: flex;
    justify-content: space-around;
}

.input .pull{
    display: flex;
    justify-content: space-between;
}

#u_signup_1 p{
    margin-top: 5px;
}

#u_signup_1 .btn{
    margin: 30px 0;
}

.sign_content{
    margin-top: 100px;
}

.sign_content h1{
    margin: 20px;
}

.home{
    height: 100%;
    display: flex;
    justify-content: center;
}

.home_content{
    background: white;
    height: 100%;
    width: 800px;
    text-align: center;
    margin-bottom: 50px;
}

.home_content .title{
    text-align: left;
    border-bottom: 1px solid black;
    font-size: xx-large;
    font-weight: 450;
    margin-top: 20px;
}

.home_content .links{
    text-decoration: none;
    color: black;
    display: flex;
    justify-content: space-around;
    padding: 20px;
    border-radius: 5px;
}

.home_content .links_ns{
    border: 1px solid aliceblue;
    color: black;
    background-color: #f8f9fa;
    display: flex;
    justify-content: space-around;
    padding: 20px;
    border-radius: 5px;
}

.home_content .non_link{
    border: 1px solid aliceblue;
    color: black;
    background-color: #f8f9fa;
    display: flex;
    justify-content: space-around;
    padding: 20px;
    border-radius: 5px;
}

.home_content .happy{
    animation: gaming 0.3s linear infinite;;
}

.text_over{
    overflow: hidden;
    white-space: nowrap;
    width: 25%;
    text-overflow: ellipsis;
}

.home_content .links div{
    overflow: hidden;
    white-space: nowrap;
    width: 25%;
    text-overflow: ellipsis;
}

.home_content .box{
    border: 1px solid aliceblue;
    display: block;
    padding: 0%;
    margin-bottom: 10px;
}


.home_content .container{
    display: flex;
    justify-content: space-between;
    padding: 0%;
}

.home_content .container div{
    width: 30%;
}

.home_content .container h1{
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.home_content .container p{
    height: 50px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;

}

.home_content .explanation{
    text-align: left;
}

.home_content .non_link{
    margin-bottom: 10px;
}

.scroll{
    overflow-y:scroll;
}

.input_display .content{
    width: 750px;
    margin: auto;
    text-align: center;
    position: relative;
    top: 20px;
}

.input_display .title{
    text-align: left;
    border-bottom: 1px solid black;
    font-size: xx-large;
    font-weight: 450;
}

.input_display p{
    font-size: large;
    margin: 30px 0;
}

.input_display .input_area{
    width: 50%;
    margin: auto;
}

.input_display .input_area .row{
    width: 100%;
    display: flex;
    margin: auto;
    margin-bottom: 15px;
}

.input_display .input_area .row * {
    padding: 0px;
}

.input_display .input_area .label{
    width: 25%;
    text-align: left;
}

.input_display .input_area .row .input{
    width: 75%;
    display: flex;
    justify-content: space-between;
}

.input_display .input_area .row .input_child{
    width: 48%;
}

.input_display .input_area .input{
    width: 75%;
}

.input_display textarea{
    font-size: small;
    height: 156px;
}

.input_display .buttons{
    width: 100%;
    margin-top: 30px;
}

.input_display .buttons * {
    margin: 10px;
    min-width: 120px;
}

.input_display .confirm_area{
    width: 50%;
    margin: auto;
}

.input_display .confirm_area .row{
    display: flex;
    margin: auto;
    margin-bottom: 15px;
    border-bottom: 1px black solid;
}

.input_display .confirm_area .row * {
    padding: 0px;
}

.input_display .confirm_area .label{
    width: 50%;
    text-align: left;
}

.input_display .confirm_area .input{
    width: 50%;
    text-align: left;
}

.input_display .done{
    margin-top: 120px;
}

.input_display .done p{
    font-size: x-large;
}

.input_display .box{
    border: 1px solid aliceblue;
    display: block;
    padding: 0%;
    margin-bottom: 10px;
    border-radius: 5px;
}

.input_display .non_link{
    border: 1px solid aliceblue;
    color: black;
    background-color: #f8f9fa;
    display: flex;
    justify-content: space-around;
    padding: 20px;
    border-radius: 5px;
}

.scrollArea{
	height: 200px;
	overflow-y: scroll;
	padding-right: 20px;
}
/*スクロールバーの横幅指定*/
.scrollArea::-webkit-scrollbar {
    width: 15px;
}
/*スクロールバーの背景色・角丸指定*/
.scrollArea::-webkit-scrollbar-track {
    border-radius: 10px;
	background: #f2f2f2;
}
/*スクロールバーの色・角丸指定*/
.scrollArea::-webkit-scrollbar-thumb {
    border-radius: 10px;
	background:#09C9D9;
}

.home_content .forum{
    display: block;
    justify-content: center;
}

.home_content .forum .sub{
    display: flex;
    justify-content: flex-start;
    width: 100%;
}

.home_content .forum .sub p{
    font-size: xx-small;
    color: cornflowerblue;
    text-align: left;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    margin-right: 20px;
}

.home_content .forum .sub .last_update{
    width: 20%;
}

.home_content .forum .sub .comment_num{
    width: 10%;
}

.home_content .forum .sub .author{
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    width: 13%;
}

.home_content .forum .sub .last_contributer{
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    width: 16%;
}
.home_content .forum .main{
    font-size: large;
    color: black;
    width: max-content;
}

#a_forum .home_content .box{
    border: 1px solid aliceblue;
    /* display:flex; */
    /* justify-content: space-between; */
    padding: 0%;
    margin-bottom: 10px;
}

@keyframes gaming {
    /* 色の指定 */
    0% { background-color: Magenta; }
    33% { background-color: yellow; }
    66% { background-color: Cyan; }
    100% { background-color: Magenta; }
}

.gaming {
    /* 横長で虹色を作る */
    background: linear-gradient(to right, Magenta, yellow, Cyan, Magenta) 0% center/200%;
    animation: gamingg 2s linear infinite;
}
@keyframes gamingg {
    /* backgroundを移動させる */
    100% { background-position-x: 200%; }
}

.wide .input_area{
    width: 60%;
    margin: auto;
}

/* .wide .input_area .label{
    width: 20%;
} */

.wide .input_area .block{
    width: 100%;
}

.wide .input_area .block .input{
    width: 100%;
}

.wide .input_area .block .label{
    width: 100%;
}

.wide .confirm_area{
    width: 60%;
    margin: auto;
}

.wide .confirm_area .row{
    border: none;
}

.wide .confirm_area .label{
    width: 25%;
}

.wide .confirm_area .input{
    width: 75%;
}

.wide .confirm_area .block{
    width: 100%;
}

.wide .confirm_area .block .input{
    width: 100%;
}

.wide .confirm_area .block .label{
    width: 100%;
}

#forum_brows .home_content .comment{
    margin: auto;
    width: 100%;
    text-align: left;
}

#forum_brows .home_content .contributer{
    margin: 2px;
}

#forum_brows .home_content .comment .body{
    padding: 10px 20px;
    margin: 2em 0;
    margin-top: 0;
    background: -webkit-repeating-linear-gradient(-45deg, #f0f8ff, #f0f8ff 3px,#e9f4ff 3px, #e9f4ff 7px);
    background: repeating-linear-gradient(-45deg, #f0f8ff, #f0f8ff 3px,#e9f4ff 3px, #e9f4ff 7px);
    display: flex;
    justify-content: space-between;
}

#forum_brows .home_content .comment .date_time{
    text-align: right;
    font-size: x-small;
    color: gray;
    display: flex;
    align-items: flex-end;
}

#forum_brows .body p{
    white-space: pre-wrap;
    margin-bottom: 0;
}

#forum_brows .reply_area{
    text-align: left;
    width: 60%;
    margin: auto;
}

#forum_brows .reply_area textarea{
    width: 100%;
}

#forum_brows .button_area{
    width: 100%;
    text-align: center;
    margin: 20px 0;
}

.sub_title{
    text-align: left;
    font-size: 22px;
    font-weight: 450;
    margin: 30px 0 10px 0;
}