{% extends "temp_admin.html" %}

{% block content %}
<div id="a_account_2" class="main">
    <div class="content_area type_input">
        <h1 class="title">管理者アカウント編集</h1>
        <div class="content">
            <p class="message">以下の情報に変更します。よろしいですか？</p>
            <div class="row_confirm">
                <p class="label">ID</p>
                <p class="value">{{ account.id }}</p>
            </div>
            <div class="row_confirm">
                <p class="label">パスワード</p>
                <p class="value">{{ account.pw }}</p>
            </div>
            <div class="row_confirm">
                <p class="label">名前</p>
                <p class="value">{{ account.name }}</p>
            </div>
            <div class="row_confirm">
                <p class="label">担当クラス1</p>
                <p class="value">{{ account.grad_year1 + "卒  " + account.dep1.name }}</p>
            </div>
            <div class="row_confirm">
                <p class="label">担当クラス2</p>
                <p class="value">{{ account.grad_year2 + "卒  " + account.dep2.name }}</p>
            </div>
            <div class="row_confirm">
                <p class="label">公開設定</p>
                {% if account.published == "true" %}
                <p class="value">公開する</p>
                {% elif account.published == "false" %}
                <p class="value">公開しない</p>
                {% endif %}
            </div>
            <form action="{{ url_for('a_account') }}" method="post">
                <input type="hidden" name="pw" value="{{ account.pw }}">
                <input type="hidden" name="name" value="{{ account.name }}">
                <input type="hidden" name="grad_year1" value="{{ account.grad_year1 }}">
                <input type="hidden" name="dep1" value="{{ account.dep1.id }}">
                <input type="hidden" name="grad_year2" value="{{ account.grad_year2}}">
                <input type="hidden" name="dep2" value="{{ account.dep2.id }}">
                <input type="hidden" name="published" value="{{ account.published }}">
                <div class="btn_area">
                    <a href="{{ url_for('a_account_page') }}" class="btn btn-outline-secondary">戻る</a>
                    <input type="submit" value="変更する" class="btn btn-outline-primary">
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}