{% extends "temp_admin.html" %}

{% block content %}
<div id="a_all" class="main">
    <div class="return_btn">
        <a href="{{ url_for('a_home_page') }}">
            <img src="{{ url_for('static', filename='img/return.png') }}" alt="戻る">
        </a>
    </div>
    <div class="content_area">
        <h1 class="title">学生一覧</h1>
        <p class="title_sub">未内定の学生</p>
        {% for student in unpassed_students %}
        <div class=" btn btn-light box">
            <a href="{{ url_for('a_student_page',id = student.id) }}" class="box_content">
                <div>{{ student.grad_year + "卒" }}</div>
                <div class="dep">{{ student.dep }}</div>
                <div class="name text_overflow">{{ student.name }}</div>
                <div class="company_num">受験企業なし</div>
            </a>
        </div>
        {% endfor %}
        <p class="title_sub">内定済みの学生</p>
        {% for student in passed_students %}
        <div class=" btn btn-light box">
            <a href="{{ url_for('a_student_page',id = student.id) }}" class="box_content">
                <div>{{ student.grad_year + "卒" }}</div>
                <div class="dep">{{ student.dep }}</div>
                <div class="name text_overflow">{{ student.name }}</div>
                <div class="company_num">{{ student.company_num }}社受験</div>
            </a>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}