{% extends "temp_admin.html" %}

{% block content %}
<div id="u_check_eva" class="main">
    <div class="return_btn">
        <a href="{{ url_for('a_check_page') }}">
            <img src="{{ url_for('static', filename='img/return.png') }}" alt="戻る">
        </a>
    </div>
    <div class="content_area">
        <h1 class="title">文章チェック詳細</h1>
        <div class="content_60">
            {% for check in result %}
                <div class="col_block">
                    <div class="label">生徒名</div>
                    <div class="value">{{ check.name }}</div>
                </div>
                <div class="col_block">
                    <div class="label">提出期限</div>
                    <div class="value">{{ check.date }}</div>
                </div>
                <div class="col_block">
                    <div class="label">タイトル</div>
                    <div class="value">{{ check.title }}</div>
                </div>
                <div class="col_block">
                    <div class="label">本文</div>
                    <div name="body" class="value">{{ check.body }}</div>
                </div>
                <form action="{{ url_for('a_check_comment') }}" method="post">
                    <div class="col_input">
                        <div class="label">コメント（300文字以内）</div>
                        <textarea name="comment" cols="30" rows="8" class="value">{{ check.comment }}</textarea>
                    </div>
                    <input type="hidden" name="id" value="{{ check.id }}">
                    <input type="submit" value="コメントする" class="btn btn-outline-primary">
                </form>
            {% endfor %}
        </div>
    </div>
</div>

{% endblock %}