{% extends "template3.html" %}
{% block content %}
<div id="u_check_home" class="home">
    <div class="home_content">
        <a href="{{ url_for('a_home_page') }}">
            <img src="{{ url_for('static', filename='img/return.png') }}" alt="戻る" class="return_btn">
        </a>
        <h1 class="title">文章チェック</h1>
        {% for check in result %}
        <div class=" btn btn-light box">
            <a href="{{url_for('a_check',id=check.id)}}" class="links">
                <div class="text_over">{{ check.date }}</div>
                <div class="text_over">{{ check.title }}</div>
                <div class="text_over">{{ check.name }}</div>
                <div class="text_over">
                    {% if check.check_flg==0 %}
                        <span style="color:blue ;">コメント未入力</span>
                    {% else %}
                        コメント済
                    {% endif %}
                </div>
            </a> 
        </div>
        {% endfor %}
    </div>
</div>

{% endblock %}