{% extends "template3.html" %}
{% block content %}
<a href="{{ url_for('a_home_page') }}">
    <img src="{{ url_for('static', filename='img/return.png') }}" alt="戻る" class="return_btn">
</a>
<h1>スレッド一覧</h1><br>
<h1>管理者は新規スレッド作成、スレッドのコメント、スレッドの削除ができます。</h1><br>
<a href="{{ url_for('forum_build_page',user='admin') }}" class="btn btn-outline-primary">新規スレッド作成</a>
{% for thread in threads %}
<a href="{{ url_for('forum_brows',thread_id=thread.id,user='admin') }}">
    <div style="border: 1px black solid;">
        {{ thread.title }}<br>
        最終更新：{{ thread.last_update }}
        投稿数：{{ thread.comment_num }}
        作成者：{{ thread.author }}
        最終投稿者：{{ thread.last_contributer }}
        <form action="{{ url_for('a_thread_page') }}">
            <input type="hidden" value="{{ thread.id }}" name="id">
            <input type="submit" value="削除">
        </form>
    </div>
</a>
{% endfor %}
{% endblock %}