{% extends "template3.html" %}
{% block content %}
<div id="a_home" class="home">
<div class="home_content">
    <h1 class="title">本日選考予定の生徒</h1>
    <div class="scrollArea">
        {% for res in schedules %}
        <div class="box">
            <div class="links btn btn-light">
                    <div class="text_over">{{res.name}}</div>
                    <div class="text_over">{{res.company}}</div>
                    <div class="text_over">{{res.step}}</div>
                    <div class="text_over">{{res.detail}}</div>
                    <div class="text_over">{{res.date_time}}</div>
            </div>
        </div>
        {% endfor %}
    </div>
    <a href="{{ url_for('a_all_page') }}" class="btn btn-outline-primary">選考状況一覧</a>
    <div class="container">
        <div class="content">
            <h1 class="title">面接練習 {{practices|length}}件</h1>
                {% for res in practices %}
                    {{res.dep}}
                    {{res.grade}}年
                    {{res.class}}組
                    {{res.name}}
                    {{res.date}}  
                <br>
                {% endfor %}
            <a href="{{url_for('a_practice_home')}}" class="btn btn-outline-primary">希望状況を閲覧</a>
        </div>
        
        <div class="content">
            <h1 class="title">文章チェック</h1>
            <div class="scrollArea">
                {% for res in reviews %}
                <div class="a_check_content btn btn-light">
                        <div class="sub">{{res.student}}</div>
                        <div class="main">{{res.title}}</div>  
                </div>
                {% endfor %}
            </div>
            
            <!-- <a href="{{url_for('a_check_home')}}" class="btn btn-outline-primary">文章チェックへ進む</a> -->
        </div>
        
        <div class="content">
            {% for passed in passed %}
                <input type="hidden" id="pass" value="{{ passed.cnt }}">
            {% endfor %}
            {% for sum in sum %}
                <input type="hidden" id="sum" value="{{ sum.cnt }}">
            {% endfor %}
            <h1 class="title">内定率</h1>
            <div style="position:relative; width:250px; height:250px;">
                <canvas id="myChart" style="position: relative; height:150; width:150"></canvas>
            </div>
        </div>
    </div>
    
    <br>
    <!--
        <a href="{{ url_for('a_forum_page') }}" class="btn btn-outline-secondary">掲示板</a>
        <br><br>
        <a href="{{ url_for('a_user_account_page') }}" class="btn btn-outline-secondary">利用者アカウント管理</a>
        <br><br>
        <a href="{{ url_for('a_account_page') }}" class="btn btn-outline-secondary">管理者アカウント編集</a>
        <br><br>
        <a href="{{ url_for('a_signup_page') }}" class="btn btn-outline-secondary">管理者アカウント新規登録</a>
        <br><br>
        <a href="{{ url_for('logout') }}" class="btn btn-outline-secondary">ログアウト</a>
    -->
    

</div>
</div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.9.1/chart.min.js" integrity="sha512-ElRFoEQdI5Ht6kZvyzXhYG9NqjtkmlkfYk0wr6wHxU9JEHakS7UJZNeml5ALk+8IKlU6jDgMabC3vkumRokgJA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script>
        let pass = document.getElementById("pass")
        let sum = document.getElementById("sum")
        no_pass = sum.value - pass.value
        new Chart(document.getElementById("myChart"), {
            type: "doughnut",
            data: {
                labels: ["内定", "未内定"],
                datasets: [
                    {
                        data: [pass.value, no_pass],
                        backgroundColor: [
                            "rgb(54, 162, 235)",
                            "rgb(255, 99, 132)"
                        ]
                    }
                ]
            }
        });
    </script>
{% endblock %}