{% extends "template.html" %}
{% block content %}
<h1>本日選考予定の生徒</h1><br>
{% for res in schedules %}
    {{res.name}}
    {{res.company}}
    {{res.step}}
    {{res.detail}}
    {{res.date_time}}
{% endfor %}
<form action="">
    <input type="submit" value="選考状況一覧" class="btn btn-outline-primary"><br>
    <h1>面接練習 {{practices|length}}件</h1><br>
    {% for res in practices %}
        {{res.dep}}
        {{res.grade}}年
        {{res.class}}組
        {{res.name}}
        {{res.date}}<br>
    {% endfor %}
    
    <input type="submit" value="希望状況を閲覧" class="btn btn-outline-primary"><br>
    <h1>文章チェック</h1><br>
    <input type="submit" value="文章チェックへ進む" class="btn btn-outline-primary"><br>
    <h1>内定率</h1>
</form>
{% endblock %}