{% extends "temp_login.html" %}

{% block content %}
<div id="a_login" class="login">
    <div class="content_area">
        <img src="{{ url_for('static',filename='img/logo.png') }}" alt="JBRecruit" class="logo">
        <h3 class="title">管理者ログイン</h3>
        <div class="content">
            <form action="{{ url_for('a_login') }}" method="post">
                <div class="row_input">
                    <p class="label">ID</p>
                    <input type="text" name="id" class="value">
                </div>
                <div class="row_input">
                    <p class="label">パスワード</p>
                    <input type="password" name="pw" class="value">
                </div>
                <input type="submit" value="ログイン" class="btn btn-primary btn_wide">
            </form>
            <div class="link_area">
                <a href="{{ url_for('u_login_page') }}">利用者ログイン</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}