{% extends "template3.html" %}

{% block content %}
<div id="a_practice_detail" class="input_display">
    <div class="home_content content">
        <h1 class="title">面接練習詳細</h1>
        <div class="content">
            <div class="row_noborder">
                <div class="label">日付</div>
                <div class="value">{{ practice.date }}</div>
            </div>
            <div class="row_noborder">
                <div class="label">コメント</div>
                <div class="value">{{ practice.comment }}</div>
            </div>
            <form action="{{ url_for('a_practice_detail',id=practice.id) }}" method="post">
                <div class="comment">
                    <div>コメントを更新する場合はここに入力してください</div>
                    <textarea name="comment" cols="30" rows="10"></textarea>
                </div>
                <div class="buttons">
                    <a href="{{ url_for('a_practice_page') }}" class="btn btn-outline-secondary">戻る</a>
                    <input type="submit" value="コメントを更新する" class="btn btn-outline-primary">
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}