{% extends "temp_admin.html" %}

{% block content %}
<div id="a_practice_delete_1" class="main">
    <div class="content_area">
        <h1 class="title">面接練習削除</h1>
        <p class="message">この面接練習を削除します。よろしいですか？</p>
        <div class="content_60">
            <div class="col_block">
                <div class="label">日付</div>
                <div class="value">{{ practice.date }}</div>
            </div>
            <div class="col_block">
                {% if students %}
                <div class="label">参加者（{{ num }}名）</div>
                <div class="value">
                    {% for student in students %}
                    <p>{{ student.dep + " " + student.name }}</p>
                    {% endfor %}
                </div>
                {% else %}
                <div class="label">参加者</div>
                <p class="value">なし</p>
                {% endif %}
            </div>
            <div class="col_block">
                <div class="label">コメント</div>
                <div class="value">{{ practice.comment }}</div>
            </div>
            <div class="btn_area">
                <a href="{{ url_for('a_practice_modify',id=practice.id) }}" class="btn btn-outline-secondary">戻る</a>
                <a href="{{ url_for('a_practice_delete',id=practice.id) }}" class="btn btn-outline-danger">削除する</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}