{% extends "template3.html" %}

{% block content %}
<div id="a_practice_detail" class="input_display">
    <div class="content">
        <h1 class="title">面接練習詳細</h1>
        <p>日付</p>
        <div>{{ practice.date }}</div>
        <p>コメント</p>
        <div>{{ practice.comment }}</div>

        <form action="{{ url_for('a_practice_detail',id=practice.id) }}" method="post">
            <p>コメントを更新する場合はここに入力してください</p>
            <textarea name="comment" cols="30" rows="10"></textarea>
            <div class="buttons">
                <a href="{{ url_for('a_practice_page') }}" class="btn btn-outline-secondary">戻る</a>
                <input type="submit" value="コメントを更新する" class="btn btn-outline-primary">
            </div>
        </form>
    </div>
</div>
{% endblock %}