{% extends "template.html" %}
{% block content %}
<h1>管理者アカウント新規登録</h1><br>
<h1>登録状況を入力してください</h1><br>

<form action="{{url_for('a_signup')}}" method="post">
    ID
    <input type="text" name="id">
    <br>
    パスワード
    <input type="password" name="pw">
    <br>
    名前
    <input type="text" name="name">
    <br>
    担当クラス1
    <select name="dep1">
        <option value="">学科を選択</option>
        {% for dep in deps %}
        <option value="{{ dep.id }}">{{ dep.name }}</option>
        {% endfor %}
    </select>
    <br>
    <select name="grade1">
        <option value="">学年を選択</option>
        {% for grade in grades %}
        <option value="{{ grade.grade }}">{{ grade.grade }}年</option>
        {% endfor %}
    </select>
    <select name="class1">
        <option value="">組を選択</option>
        {% for class in classes %}
        <option value="{{ class.class }}">{{ class.class }}組</option>
        {% endfor %}
    </select>
    <br>
    担当クラス2
    <select name="dep2">
        <option value="">学科を選択</option>
        {% for dep in deps %}
        <option value="{{ dep.id }}">{{ dep.name }}</option>
        {% endfor %}
    </select>
    <br>
    <select name="grade2">
        <option value="">学年を選択</option>
        {% for grade in grades %}
        <option value="{{ grade.grade }}">{{ grade.grade }}年</option>
        {% endfor %}
    </select>
    <select name="class2">
        <option value="">組を選択</option>
        {% for class in classes %}
        <option value="{{ class.class }}">{{ class.class }}組</option>
        {% endfor %}
    </select>
    <br>
    <a href="{{url_for('a_home_page')}}" class="btn btn-outline-secondary">戻る</a>
    <input type="submit" value="次へ進む" class="btn btn-outline-primary">

</form>
{% endblock %}