{% extends "template3.html" %}
{% block content %}

<div id="a_signup_1" class="input_display">
    <div class="content">
        <h1 class="title">管理者アカウント新規登録</h1>
        <p>登録状況を入力してください</p>
        <form action="{{url_for('a_signup')}}" method="post">
        <div class="input_area">
            <div class="row">
                <div class="label">ID</div>
                <input type="text" name="id" class="input">
            </div>

            <div class="row">
                <div class="label">パスワード</div>
                <input type="password" name="pw" class="input">
            </div>

            <div class="row">
                <div class="label">名前</div>
                <input type="text" name="name" class="input">
            </div>
                
            <div class="row">
                <div class="label">担当クラス1</div>
                <select name="dep1" class="input">
                    <option value="">学科を選択</option>
                    {% for dep in deps %}
                    <option value="{{ dep.id }}">{{ dep.name }}</option>
                    {% endfor %}
                </select>
            </div>

            <div class="row">
                <div class="label"></div>
                <div class="input">
                    <select name="grade1" class="input_child">
                        <option value="">学年を選択</option>
                        {% for grade in grades %}
                        <option value="{{ grade.grade }}">{{ grade.grade }}年</option>
                        {% endfor %}
                    </select>
                    <select name="class1" class="input_child">
                        <option value="">組を選択</option>
                        {% for class in classes %}
                        <option value="{{ class.class }}">{{ class.class }}組</option>
                        {% endfor %}
                    </select>
                </div>
            </div>

            <div class="row">
                <div class="label">担当クラス2</div>
                <select name="dep2" class="input">
                    <option value="">学科を選択</option>
                    {% for dep in deps %}
                    <option value="{{ dep.id }}">{{ dep.name }}</option>
                    {% endfor %}
                </select>
            </div>

            <div class="row">
                <div class="label"></div>
                <div class="input">
                    <select name="grade2" class="input_child">
                        <option value="">学年を選択</option>
                        {% for grade in grades %}
                        <option value="{{ grade.grade }}">{{ grade.grade }}年</option>
                        {% endfor %}
                    </select>
                    <select name="class2" class="input_child">
                        <option value="">組を選択</option>
                        {% for class in classes %}
                        <option value="{{ class.class }}">{{ class.class }}組</option>
                        {% endfor %}
                    </select>
                </div>
            </div>

            <div class="buttons">
                <a href="{{url_for('a_home_page')}}" class="btn btn-outline-secondary">戻る</a>
                <input type="submit" value="次へ進む" class="btn btn-outline-primary">
            </div>
        </form>
    </div>
</div>

{% endblock %}