{% extends "temp_admin.html" %}
_account_page
{% block content %}
<div id="a_signup_1" class="main">
    <div class="content_area type_input">
        <h1 class="title">管理者アカウント新規登録</h1>
        <p class="message">登録情報を入力してください</p>
        <div class="content">
            <form action="{{ url_for('a_signup_confirm') }}" method="post">
                <div class="row_input">
                    <div class="label">ID</div>
                    <input type="text" name="id" class="value">
                </div>
                <div class="row_input">
                    <div class="label">パスワード</div>
                    <input type="password" name="pw" class="value">
                </div>
                <div class="row_input">
                    <div class="label">名前</div>
                    <input type="text" name="name" class="value">
                </div>
                <div class="row_input">
                    <div class="label">担当クラス1</div>
                    <div class="values">
                        <select name="grad_year1">
                            <option value="">卒業年を選択</option>
                            {% for grad_year in grad_years %}
                            <option value="{{ grad_year }}">{{ grad_year }}卒</option>
                            {% endfor %}
                        </select>
                        <select name="dep1">
                            <option value="">学科を選択</option>
                            {% for dep in deps %}
                            <option value="{{ dep.id }}">{{ dep.name }}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
                <div class="row_input">
                    <div class="label">担当クラス2</div>
                    <div class="values">
                        <select name="grad_year2">
                            <option value="">卒業年を選択</option>
                            {% for grad_year in grad_years %}
                            <option value="{{ grad_year }}">{{ grad_year }}卒</option>
                            {% endfor %}
                        </select>
                        <select name="dep2">
                            <option value="">学科を選択</option>
                            {% for dep in deps %}
                            <option value="{{ dep.id }}">{{ dep.name }}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
                <div class="row_input">
                    <div class="label">公開設定</div>
                    <div class="values">
                        <div><input type="radio" name="published" value="true">公開する</div>
                        <div><input type="radio" name="published" value="false" checked>公開しない</div>
                    </div>
                </div>
                <div class="btn_area">
                    <a href="{{url_for('a_home_page')}}" class="btn btn-outline-secondary">戻る</a>
                    <input type="submit" value="次へ進む" class="btn btn-outline-primary">
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}