{% extends "temp_user.html" %}

{% block content %}
<div id="u_home" class="main"> 
    <div class="return_btn">
        <a href="{{ url_for('a_all_page') }}">
            <img src="{{ url_for('static', filename='img/return.png') }}" alt="戻る">
        </a>
    </div>   
    <div class="content_area">
        <h1 class="title">{{ student.grad_year + "卒" + " " + student.dep + " " + student.name }}</h1>

        <p class="title_sub">選考中の企業</p>
        {% if not schedules %}
        <p>ありません。</p>
        {% endif %}
        {% for schedule in schedules %}
        <div class="btn btn-light box">
            <div class="box_content">
                <div class="text_overflow">{{ schedule.company }}</div>
            </div>
        </div>
        {% endfor %}

        <p class="title_sub">内定済みの企業</p>
        {% if not passed %}
        <p>ありません。</p>
        {% endif %}
        {% for schedule in passed %}
        <div class="btn btn-light box">
            <div class="box_content">
                <div class="text_overflow">{{ schedule.company }}</div>
            </div>
        </div>
        {% endfor %}
        
        <p class="title_sub">選考終了済みの企業</p>
        {% if not passed %}
        <p>ありません。</p>
        {% endif %}
        {% for schedule in finished %}
        <div class="btn btn-light box">
            <div class="box_content">
                <div class="text_overflow">{{ schedule.company }}</div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}