{% extends "template3.html" %}
{% block content %}
<a href="{{ url_for('a_all_page') }}">
    <img src="{{ url_for('static', filename='img/return.png') }}" alt="戻る" class="return_btn">
</a>
<h1>{{ student.grad_year + "卒" + " " + student.dep + " " + student.name }}</h1>
<h1>選考中の企業</h1>
{% for schedule in schedules %}
<div>
    {{ schedule.company }}
    {{ schedule.step }}
    {{ schedule.detail }}
    {{ schedule.date_time }}
</div>
<br>
{% endfor %}
<h1>内定済みの企業</h1>
<h1>選考終了済みの企業</h1>
{% endblock %}