{% extends "temp_admin.html" %}

{% block content %}
<div id="a_user_account_1" class="main">
    <div class="return_btn">
        <a href="{{ url_for('a_home_page') }}">
            <img src="{{ url_for('static', filename='img/return.png') }}" alt="戻る">
        </a>
    </div>
    <div class="content_area">
        <h1 class="title">利用者アカウント管理</h1>
        <div class="content">
            <p class="title_sub">アカウント検索</p>
            <div class="search_area">
                <form action="{{ url_for('a_user_account_page') }}" method="post" class="search_main">
                    学籍番号
                    <input type="text" name="id" value="{{ id }}">
                    <input type="submit" value="検索" class="btn btn-sm btn-primary">
                    <!-- formタグの中にbuttonタグがあるとtype:submitが規定値になるのでtype:resetにした -->
                    <button id="btn_option" class="btn btn-outline-primary btn_option" type="reset">学籍番号以外で検索</button>
                </form>
                <form action="{{ url_for('a_user_account_page') }}" method="post" id="form_option" class="search_sub" hidden>
                    <div>
                        <div class="row_input">
                            <p class="label">卒業年</p>
                            <select name="grad_year" class="value">
                                <option value="">卒業年を選択</option>
                                {% for grad_year in grad_years %}
                                <option value="{{ grad_year }}">{{ grad_year }}卒</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="row_input">
                            <p class="label">学科</p>
                            <select name="dep" class="value">
                                <option value="">学科を選択</option>
                                {% for dep in deps %}
                                <option value="{{ dep.id }}">{{ dep.name }}</option>
                                {% endfor %}
                            </select>    
                        </div>
                        <div class="row_input">
                            <p class="label">名前</p>
                            <input type="text" name="name" class="value" value="{{name}}">
                        </div>
                    </div>
                    <input type="submit" value="この条件で検索する" class="btn btn-outline-primary btn_search_sub">
                </form>
            </div>
            {% for user in users %}
            <div class="btn btn-light box">
                <div class="box_content">
                    <div>{{ user.id }}</div>
                    <div class="name text_overflow">{{ user.name }}</div>
                    <div>{{ user.grad_year }}卒</div>
                    <div class="dep text_overflow">{{ user.dep }}</div>
                    <form action="{{ url_for('a_user_account_confirm') }}" method="post">
                        <input type="hidden" name="id" value="{{ user.id }}">
                        <input type="hidden" name="name" value="{{ user.name }}">
                        <input type="hidden" name="grad_year" value="{{ user.grad_year }}">
                        <input type="hidden" name="dep" value="{{ user.dep }}">
                        <input type="submit" value="削除" class="btn btn-sm btn-outline-primary">
                    </form>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
<script>
    let btn = document.getElementById("btn_option")
    let form = document.getElementById("form_option")
    btn.addEventListener('click',function(){
        if(form.hidden){
            form.hidden = false
            btn.textContent = "検索オプションを閉じる"
        }else{
            form.hidden = true
            btn.textContent = "学籍番号以外で検索"
        }
    })
</script>
{% endblock %}