{% extends "temp_admin.html" %}

{% block content %}
<div id="a_user_account_2" class="main">
    <div class="content_area type_input">
        <h1 class="title">利用者アカウント削除</h1>
        <p class="message">このアカウントを削除します。よろしいですか？</p>
        <div class="content">
            <div class="row_confirm">
                <div class="label">学籍番号</div>
                <div class="input">{{ user.id }}</div>
            </div>
            <div class="row_confirm">
                <div class="label">名前</div>
                <div class="input">{{ user.name }}</div>
            </div>
            <div class="row_confirm">
                <div class="label">卒業年</div>
                <div class="input">{{ user.grad_year }}卒</div>
            </div>
            <div class="row_confirm">
                <div class="label">学科</div>
                <div class="input">{{ user.dep }}</div>
            </div>
            <form action="{{ url_for('a_user_account_done') }}">
                <input type="hidden" name="id" value="{{ user.id }}">
                <div class="btn_area">
                    <a href="{{ url_for('a_user_account_page') }}" class="btn btn-outline-secondary">戻る</a>
                    <input type="submit" value="削除する" class="btn btn-outline-primary">
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}