{% if user == "user" %}
    {% extends "temp_user.html" %}
{% elif user == "admin" %}
    {% extends "temp_admin.html" %}
{% endif %}

{% block content %}
<div id="forum_brows" class="main">
    <div class="content_area">
        <h1 class="title">スレッド</h1>
        <div class="btn_area">
        {% if user == "user" %}
        <a href="{{ url_for('u_forum_page') }}" class="btn btn-outline-primary">スレッド一覧</a>
        {% elif user == "admin" %}
        <a href="{{ url_for('a_forum_page') }}" class="btn btn-outline-primary">スレッド一覧</a>
        {% endif %}
        </div>
        <div class="content_80">
            <h2 class="thread_title">{{ thread.title }}</h2>
            {% for comment in comments %}
            <div class="comment">
                <div class="contributer">{{ comment.contributer }}</div>
                <div class="body">
                    <p class="text_overflow">{{ comment.body }}</p>
                    <div class="date_time">{{ comment.date_time }}</div>
                </div>
            </div>
            {% endfor %}
            <div class="reply_area">
                <form action="{{ url_for('forum_contribute') }}" method="post">
                    <input type="hidden" name="thread_id" value="{{ thread.id }}">
                    <input type="hidden" name="user" value="{{ user }}">
                    <div class="col_input">
                        <p class="label">返信（600文字以内）</p>
                        <textarea name="body" cols="60" rows="6" maxlength="600" required></textarea>
                    </div>
                    <div class="btn_area">
                        <input type="submit" value="返信する" class="btn btn-outline-primary">
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}