{% if user == "user" %}
    {% extends "temp_user.html" %}
{% elif user == "admin" %}
    {% extends "temp_admin.html" %}
{% endif %}

{% block content %}
<div id="forum_build" class="main">
    {% if user == "user" %}
    <div class="return_btn">
        <a href="{{ url_for('u_forum_page') }}">
            <img src="{{ url_for('static', filename='img/return.png') }}" alt="戻る">
        </a>
    </div>
    {% elif user == "admin" %}
    <div class="return_btn">
        <a href="{{ url_for('a_forum_page') }}">
            <img src="{{ url_for('static', filename='img/return.png') }}" alt="戻る">
        </a>
    </div>
    {% endif %}
    <div class="content_area">
        <h1 class="title">新規スレッド作成</h1>
        <p class="message">以下の項目を入力して、スレッドを作成できます。</p>
        <div class="content_60">
            <form action="{{ url_for('forum_build') }}" method="post">
                <input type="hidden" name="user" value="{{ user }}">
                <div class="col_input">
                    <div class="label">スレッドタイトル</div>
                    <input type="text" name="title" class="value">
                </div>
                <div class="col_input">
                    <div class="label">本文</div>
                    <textarea name="body" cols="30" rows="10" class="value"></textarea>
                </div>
                <div class="btn_area">
                    <input type="submit" value="この内容で作成" class="btn btn-outline-primary">
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}