{% extends "template.html" %}
{% block content %}

{% if user == "user" %}
<a href="{{ url_for('u_forum_page') }}">
    <img src="{{ url_for('static', filename='img/return.png') }}" alt="戻る" class="return_btn">
</a>
{% elif user == "admin" %}
<a href="{{ url_for('a_forum_page') }}">
    <img src="{{ url_for('static', filename='img/return.png') }}" alt="戻る" class="return_btn">
</a>
{% endif %}

<div id="a_account_1" class="input_display">
    <div class="content wide">
        <h1 class="title">新規スレッド作成</h1>
        <p>以下の項目を入力して、スレッドを作成できます。</p>
        <div class="input_area">
            <form action="{{ url_for('forum_build') }}">
                <input type="hidden" name="user" value="{{ user }}">
                <div class="block">
                    <div class="label">スレッドタイトル</div>
                    <input type="text" name="title" class="input">
                </div>
                <div class="block">
                    <div class="label">本文</div>
                    <textarea name="body" cols="30" rows="10" class="input"></textarea>
                </div>
                <div class="buttons">
                    <input type="submit" value="この内容で作成" class="btn btn-outline-primary">
                </div>
            </form>
        </div>
    </div>
</div>

{% endblock %}