{% extends "template.html" %}
{% block content %}
<h1>利用者アカウント編集</h1>
<h1>変更情報を入力してください</h1><br>
<form action="{{ url_for('u_account') }}" method="post">
    <p>パスワード</p>
    <input type="password" name="pw">
    <p>名前</p>
    <input type="text" name="name">
    <p>学科</p>
    <select name="dep">
        <option value="">学科を選択</option>
        <option value="01">情報システム科</option>
        <option value="02">ネットワークセキュリティ科</option>
        <option value="03">総合システム工学科</option>
        <option value="04">高度情報工学科</option>
    </select>
    <p>学年</p>
    <select name="grade">
        <option value="">学年を選択</option>
        <option value="1">1年</option>
        <option value="2">2年</option>
        <option value="3">3年</option>
        <option value="4">4年</option>
    </select>
    <p>組</p>
    <select name="class">
        <option value="">組を選択</option>
        <option value="1">1組</option>
        <option value="2">2組</option>
        <option value="3">3組</option>
    </select>
    <br>
    <a href="{{ url_for('u_home_page') }}" class="btn btn-outline-secondary">戻る</a>
    <input type="submit" value="次へ進む" class="btn btn-outline-primary">
</form>
{% endblock %}