{% extends "temp_user.html" %}

{% block content %}
<div id="u_add_1" class="main">
    <div class="content_area">
        <h1 class="title">受験企業追加</h1>
        <p class="message">選考情報を登録してください</p>
        <form action="{{url_for('u_add_confirm')}}" method="post">
            <div class="content_50">
                <div class="row_input">
                    <div class="label">企業名</div>
                    <input type="text" name="company" class="value" maxlength="64" required>
                </div>
                <div class="row_input">
                    <div class="label">選考段階</div>
                    <select name="step" class="value" required>
                        <option value="">選考段階を選択</option>
                        <!-- <option value="選考前">選考前（説明会など）</option> -->
                        <option value="1次選考">1次選考</option>
                        <option value="2次選考">2次選考</option>
                        <option value="3次選考">3次選考以降（最終選考を除く）</option>
                        <option value="最終選考">最終選考</option>
                    </select>
                </div>
                <div class="row_input">
                    <div class="label">内容</div>
                    <select name="detail" class="value" required>
                        <option value="">内容を選択</option>
                        <!-- <option value="説明会">説明会</option> -->
                        <option value="適性検査">適性検査</option>
                        <option value="面接（対面）">面接（対面）</option>
                        <option value="面接（オンライン）">面接（オンライン）</option>
                        <option value="その他">その他</option>
                    </select>
                </div>
                <div class="row_input">
                    <div class="label">場所</div>
                    <select name="place" class="value" required>
                        <option value="">場所を選択</option>
                        <option value="自宅">自宅(オンラインを含む)</option>
                        <option value="学校(オンライン)">学校(オンライン)</option>
                        <option value="学校(対面)">学校(対面)</option>
                        <option value="企業（県内）">企業（県内）</option>
                        <option value="企業（県外）">企業（県外）</option>
                        <option value="試験センター">試験センター</option>
                        <option value="その他">その他</option>
                    </select>
                </div>
                <div class="row_input">
                    <div class="label">日時</div>
                    <input type="datetime-local" name="date_time" class="value" required>
                </div>
                <div class="btn_area">
                    <a href="{{ url_for('u_home_page') }}" class="btn btn-outline-secondary">戻る</a>
                    <input type="submit" value="次へ進む" class="btn btn-outline-primary">
                </div>
            </div>
        </form>
    </div>
</div>

{% endblock %}