{% extends "template.html" %}
{% block content %}
<div id="u_check_eva" class="input_display">
    <a href="{{ url_for('u_check_home') }}">
        <img src="{{ url_for('static', filename='img/return.png') }}" alt="戻る" class="return_btn">
    </a>
    <div class="content wide">
        <h1 class="title">文章チェック</h1>
        <div class="confirm_area">
            {% for check in check %}
                <div class="row">
                    <div class="label">依頼先</div>
                    <div class="input">{{ check.name }}先生</div>
                </div>
                <div class="row">
                    <div class="label">提出期限</div>
                    <div class="input">{{ check.date }}</div>
                </div>
                <div class="row">
                    <div class="label">タイトル</div>
                    <div class="input">{{ check.title }}</div>
                </div>
                <div class="block">
                    <div class="label">本文</div>
                    <textarea name="body" cols="30" rows="10" class="input" readonly>{{ check.body }}</textarea>
                </div>
                <div class="block">
                    <div class="label">コメント</div>
                    <textarea name="body" cols="30" rows="10" class="input" readonly>{{ check.comment }}</textarea>
                </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}