{% extends "template.html" %}
{% block content %}
<div id="u_check_1" class="input_display">
    <div class="content wide">
        <h1 class="title">文章チェック</h1>
        <p>以下の項目を入力してください</p>
        <div class="input_area">
            <form action="{{ url_for('u_check_confirm') }}" method="post">
                <div class="row">
                    <div class="label">先生</div>
                    <select name="id" class="input">
                        <option value="">先生を選択</option>
                        {% for teacher in teachers %}
                        <option value="{{ teacher.id }}">{{ teacher.name }}先生</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="row">
                    <div class="label">提出日</div>
                    <input type="date" name="date" class="input">
                </div>
                <div class="row">
                    <div class="label">タイトル</div>
                    <input type="text" name="title" class="input">
                </div>
                <div class="block">
                    <div class="label">本文</div>
                    <textarea name="body" cols="30" rows="10" class="input"></textarea>
                </div>
                <div class="buttons">
                    <a href="{{ url_for('u_check_home') }}" class="btn btn-outline-secondary">戻る</a>
                    <input type="submit" value="次へ進む" class="btn btn-outline-primary">
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}