{% extends "template.html" %}
{% block content %}
<div id="u_check_home" class="home">
    <div class="home_content">
        <a href="{{ url_for('u_home_page') }}">
            <img src="{{ url_for('static', filename='img/return.png') }}" alt="戻る" class="return_btn">
        </a>
        <h1 class="title">文章チェック</h1>
        {% for check in check%}
        <div class=" btn btn-light box">
            <a href="{{url_for('u_check_eva',id=check.id)}}" class="links">
                <div class="text_over">{{ check.date }}</div>
                <div class="text_over">{{ check.title }}</div>
                <div class="text_over">{{ check.name }}</div>
                <div class="text_over">{{ check.check_flg }}</div>
            </a> 
        </div>
        {% endfor %}

        <a href="{{ url_for('u_check_page') }}" class="btn btn-outline-primary">文章チェックを依頼</a>
    </div>
</div>
{% endblock %}