{% extends "temp_user.html" %}

{% block content %}
<div id="u_company" class="main">
    <div class="return_btn">
        <a href="{{ url_for('u_home_page') }}">
            <img src="{{ url_for('static', filename='img/return.png') }}" alt="戻る">
        </a>
    </div>
    <div class="content_area">
        <h1 class="title">{{ schedules[0].company }}</h1>
        <p class="message">
            選考が終わったら、メニューから通過か落選を選択します。内容の変更も可能です。<br>
            内定をもらった場合は、下のボタンから内定を確定してください。
        </p>
        <p class="title_sub">最新の選考状況</p>
        <div class="box btn btn-light">
            <div class="box_content">
                <div>{{ schedules[0].step }}</div>
                <div>{{ schedules[0].detail }}</div>
                <div>{{ schedules[0].place }}</div>
                {% if schedules[0].red %}
                <div style="color:red;" class="text_overflow">{{ schedules[0].date_time }}</div>
                {% else %}
                <div class="text_overflow">{{ schedules[0].date_time }}</div>
                {% endif %}
                <div class="btn-group">
                    <button type="button" class="btn btn-secondary dropdown-toggle btn-sm" data-bs-toggle="dropdown" aria-expanded="false">
                     Menu
                    </button>
                    <ul class="dropdown-menu">
                      <li><a class="dropdown-item" href="{{ url_for('u_register_page',company=schedules[0].company) }}">通過</a></li>
                      <li><a class="dropdown-item" href="{{ url_for('u_delete_page',company=schedules[0].company) }}">落選</a></li>
                      <li><hr class="dropdown-divider"></li>
                      <li><a class="dropdown-item" href="{{ url_for('u_modify_page',company=schedules[0].company) }}">変更</a></li>
                    </ul>
                  </div>


                <!-- <div>
                    <a href="{{ url_for('u_register_page',company=schedules[0].company) }}" class="btn btn-outline-primary btn-sm">通過</a>
                    <a href="{{ url_for('u_delete_page',company=schedules[0].company) }}" class="btn btn-outline-primary btn-sm">落選</a>
                    <a href="{{ url_for('u_modify_page',company=schedules[0].company) }}" class="btn btn-outline-secondary btn-sm">変更</a>
                </div> -->
            </div>
        </div>
        <div class="btn_area">
            <a href="{{ url_for('u_passed_page',company=schedules[0].company) }}" class="btn btn-outline-primary">内定</a>
        </div>
        <p class="title_sub">これまでの選考状況</p>
        {% if schedules|length <= 1 %}
        <p class="none">ありません。</p>
        {% endif %}
        {% for schedule in schedules %}
        {% if loop.index > 1 %}
        <div class="box btn btn-light">
            <div class="box_content">
                <div style="width: 65px;">{{ schedule.step }}</div>
                <div style="width: 125px;">{{ schedule.detail }}</div>
                <div style="width: 105px;">{{ schedule.place }}</div>
                <div>{{ schedule.date_time }}</div>
            </div>
        </div>
        {% endif %}
        {% endfor %}
    </div>
</div>
{% endblock %}