{% extends "template.html" %}
{% block content %}
<h1>{{ schedules[0].company }}</h1>
<h1>最新の選考状況</h1>
<div>
    {{ schedules[0].step }}
    {{ schedules[0].detail }}
    {{ schedules[0].place }}
    {{ schedules[0].date_time }}
    <a href="{{ url_for('u_register_page',company=schedules[0].company) }}">通過</a>
    <a href="{{ url_for('u_delete_page',company=schedules[0].company) }}">落選</a>
    <a href="{{ url_for('u_modify_page',company=schedules[0].company) }}">変更</a>
</div>
<h1>これまでの選考状況</h1>
{% if schedules|length <= 1 %}
<p>ありません</p>
{% endif %}
{% for schedule in schedules %}
{% if loop.index > 1 %}
<div>
    {{ schedule.step }}
    {{ schedule.detail }}
    {{ schedule.place }}
    {{ schedule.date_time }}
    通過済み
</div>
{% endif %}
{% endfor %}
<a href="{{ url_for('u_home_page') }}" class="btn btn-outline-secondary">戻る</a>
<a href="{{ url_for('u_passed_page',company=schedules[0].company) }}" class="btn btn-outline-primary">内定GET</a>
{% endblock %}