{% extends "temp_user.html" %}

{% block content %}
<div id="u_delete_1" class="main">
    <div class="content_area">
        <h1 class="title">{{ company }}</h1>
        <div class="content_done">
            <p class="message">選考終了済に変更します。よろしいですか?</p>
            <div class="btn_area">
                <a href="{{ url_for('u_company_page',company=company )}}" class="btn btn-outline-secondary">戻る</a>
                <a href="{{ url_for('u_delete',company=company) }}" class="btn btn-outline-primary">確定する</a>
            </div>
        </div>
    </div>
</div>

{% endblock %}