{% extends "template.html" %}
{% block content %}
<h1>選考中の企業</h1><br>
<a href="{{ url_for('u_add_page') }}">企業追加</a>
<br><br>

<h1>内定済みの企業</h1><br><br>

<h1>選考終了済みの企業</h1><br><br>

<h1>面接練習</h1>
<form action="">
    面接練習を希望する際はこちらから申し込んでください。<br>
    <input type="submit" value="面接練習を希望">
</form><br>

<h1>文章チェック</h1>
<form action="">
    ESの文章を提出する前などに、文章のチェックを依頼できます。<br>
    <input type="submit" value="文章チェックを依頼">
</form><br>

<h1>報告書検索</h1>
<form action="">
    先輩の報告書を検索し、閲覧できます。<br>
    <input type="submit" value="報告書を閲覧">
</form><br><br>

<h1>掲示板</h1><br><br>
<form action="">
    <input type="submit" value="スレッド一覧・作成">
</form>
{% endblock %}