{% extends "template2.html" %}
{% block content %}
<div id="u_login" class="login">
    <div class="login_content">
        <img src="{{ url_for('static', filename='img/logo.png') }}" alt="就活帳" class="logo">
        <h3 class="title">利用者ログイン</h3>
        <form action="{{ url_for('u_login') }}" method="post">
            <div class="input">
                <p>学籍番号</p>
                <input type="number" name="id">
                <p>パスワード</p>
                <input type="password" name="pw">
            </div>
            <input type="submit" value="ログイン" class="btn btn-outline-primary">
        </form>
        <div class="links">
            <a href="{{ url_for('u_signup_page') }}">新規登録はこちら</a>
            <a href="{{ url_for('a_login_page') }}">管理者ログイン</a>
        </div>
    </div>
</div>
{% endblock %}