{% extends "template.html" %}
{% block content %}
<h1></h1>
<h1>変更情報を登録してください</h1>
<form action="{{ url_for('u_modify_confirm') }}" method="post">
    <input type="hidden" name="company" value="{{ company }}">
    選考段階
    <select name="step">
        <option value="1次選考">1次選考</option>
        <option value="2次選考">2次選考</option>
        <option value="3次選考">3次選考</option>
    </select><br>
    内容
    <select name="detail">
        <option value="面接">面接</option>
        <option value="適性試験">適性試験</option>
    </select><br>
    場所
    <select name="place">
        <option value="自宅(オンライン)">自宅(オンライン)</option>
        <option value="学校(オンライン)">学校(オンライン)</option>
        <option value="学校(対面)">学校(対面)</option>
        <option value="県内">県内</option>
        <option value="県外">県外</option>
    </select><br>
    日付・時刻
    <input type="datetime" name="date_time"><br>
    <a href="{{ url_for('u_home_page') }}">戻る</a>
    <input type="submit" value="次へ進む">
</form>
{% endblock %}