{% extends "temp_user.html" %}

{% block content %}
<div id="u_practice_1" class="main">
    <div class="content_area">
        <h1 class="title">面接練習</h1>
        <p class="message">参加する面接練習を確認してください</p>
        <div class="content_60">
            <div class="col_block">
                <div class="label">先生</div>
                <div class="value">{{ practice.teacher }}</div>
            </div>

            <div class="col_block">
                <div class="label">日付</div>
                <div class="value">{{ practice.date }}</div>
            </div>

            <div class="col_block">
                <div class="label">コメント</div>
                <div class="value">{{ practice.comment }}</div>
            </div>
            
            <div class="btn_area">
                <a href="{{ url_for('u_practice_home') }}" class="btn btn-outline-secondary">戻る</a>
                <a href="{{ url_for('u_practice',id=practice.id) }}" class="btn btn-outline-primary">確定する</a>
            </div>

        </div>
    </div>
</div>
{% endblock %}