{% extends "template.html" %}
{% block content %}

<div id="u_practice_home" class="input_display">
    <a href="{{ url_for('u_home_page') }}">
        <img src="{{ url_for('static', filename='img/return.png') }}" alt="戻る" class="return_btn">
    </a>
    <div class="content home_content">
        <h1 class="title">参加予定の面接練習</h1>
        {% if not schedules %}
        <p>ありません。</p>
        {% endif %}
        {% for schedule in schedules %}
        <div class="btn btn-light box">
            <a href="{{ url_for('u_practice_detail',id=schedule.id) }}" class="links">
                <div>{{ schedule.teacher }}</div>
                <div>{{ schedule.date }}</div>
                <div>{{ schedule.comment }}</div>
            </a>
        </div>
        {% endfor %}
        <h1 class="title">面接練習検索</h1>
        <form action="{{ url_for('u_practice_page') }}" method="post">
            <select name="teacher">
                <option value="">先生を選択</option>
                {% for teacher in teachers %}
                <option value="{{ teacher.id }}">{{ teacher.name }}</option>
                {% endfor %}
            </select>
            <input type="date" name="date">
            <input type="submit" value="検索" class="btn btn-outline-primary btn-sm">
        </form>
        {% if not search_result and method != "get" %}
        <p>ありません。</p>
        {% endif %}
        {% for result in search_result %}
        <div class="btn btn-light box">
            <a href="{{ url_for('u_practice_confirm',id=result.id) }}" class="links">
                <div>{{ result.date }}</div>
                <div>{{ result.comment }}</div>
            </a>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}