{% extends "temp_user.html" %}

{% block content %}
<div id="u_practice_detail" class="main">
    <div class="content_area type_wide">
        <h1 class="title">面接練習詳細</h1>
        <div class="content">
            <div class="row_block">
                <div class="label">先生</div>
                <div class="value">{{ practice.teacher }}</div>
            </div>
            <div class="row_block">
                <div class="label">日付</div>
                <div class="value">{{ practice.date }}</div>
            </div>
            <div class="row_block">
                <div class="label">コメント</div>
                <div class="value">{{ practice.comment }}</div>
            </div>

            <div class="btn_area">
                <a href="{{ url_for('u_practice_page') }}" class="btn btn-outline-primary">戻る</a>
                <a href="{{ url_for('u_practice_canceled',id=practice.id) }}" class="btn btn-outline-secondary">キャンセルする</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}