{% extends "temp_login.html" %}

{% block content %}
<div id="u_signup_1" class="login">
    <div class="content_area">
        <img src="{{ url_for('static',filename='img/logo.png') }}" alt="JBRecruit" class="logo">
        <h3 class="title">利用者アカウント新規登録</h3>
        <div class="content input">
            <form action="{{ url_for('u_signup_confirm') }}" method="post">
                <div class="row_input">
                    <p class="label">学籍番号</p>
                    <input type="text" name="id" class="value" minlength="7" maxlength="7" required>
                </div>
                <div class="row_input">
                    <p class="label">パスワード</p>
                    <input type="password" name="pw" class="value" required>
                </div>
                <div class="row_input">
                    <p class="label">名前</p>
                    <input type="text" name="name" class="value" maxlength="16" required>
                </div>
                <div class="row_input">
                    <p class="label">卒業年</p>
                    <select name="grad_year" class="value" required>
                        <option value="">卒業年を選択</option>
                        {% for grad_year in grad_years %}
                        <option value="{{ grad_year }}">{{ grad_year }}卒</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="row_input">
                    <p class="label">学科・組</p>
                    <select name="dep" class="value" required>
                        <option value="">学科・組を選択</option>
                        {% for dep in deps %}
                        <option value="{{ dep.id }}">{{ dep.name }}</option>
                        {% endfor %}
                    </select>
                </div>
                <input type="submit" value="確認画面へ進む" class="btn btn-primary btn_wide">
                <div class="link_area">
                    <a href="{{ url_for('u_login_page') }}">ログインはこちら</a>
                </div>
            </form>
        </div>
    </div>
</div>
<input type="hidden" value="{{ e }}" id="err">
<script>
    err = document.getElementById("err")
    if(err.value == 1){
        console.log("11")
        alert("この学籍番号は既に使われています")
    }
</script>
{% endblock %}