{% extends "template.html" %}
{% block content %}
<img src="{{ url_for('static', filename='img/logo.png') }}" alt="就活帳" class="logo1">
<h1>利用者アカウント新規登録</h1>
<form action="" method="post">
    学籍番号{{ result[0] }}<input type="hidden" value="{{result[0]}}"><br>
    パスワード{{ result[1] }}<input type="hidden" value="{{result[1]}}"><br>
    名前{{ result[2] }}<input type="hidden" value="{{result[2]}}"><br>
    学科{{ result[3] }}<input type="hidden" value="{{result[3]}}"><br>
    学年{{ result[4] }}<input type="hidden" value="{{result[4]}}"><br>
    クラス{{ result[5] }}<input type="hidden" value="{{result[5]}}"><br>
    <a href="">新規登録</a><br>
</form>

<a href="">戻る</a>
{% endblock %}