{% extends "template2.html" %}
{% block content %}
<div id="u_signup_1" class="login">
    <div class="login_content">
        <img src="{{ url_for('static', filename='img/logo.png') }}" alt="就活帳" class="logo">
        <h3>利用者アカウント新規登録</h3>
        <form action="{{ url_for('u_signup') }}" method="post">
            <div class="input">
                <p>学籍番号</p>
                <input type="number" name="id">
                <br>
                <p>パスワード</p>
                <input type="password" name="pw">
                <br>
                <p>名前</p>
                <input type="text" name="name">
                <br>
                <div class="pull">
                    <div>
                        <p>卒業年</p>
                        <select name="graduation">
                            <option value="">卒業年を選択</option>
                            {% for year in years %}
                            <option value="{{ year }}">{{ year }}卒</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div>
                        <p>学科</p>
                        <select name="dep">
                            <option value="">学科を選択</option>
                            {% for dep in deps %}
                            <option value="{{ dep.id }}">{{ dep.name }}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
            </div>
            <input type="submit" value="次へ進む" class="btn btn-outline-primary">
        </form>
        <a href="{{ url_for('u_login_page') }}">ログインはこちら</a>
    </div>
</div>
{% endblock %}